<?xml version="1.0"?>

<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find boxbot_control)/config/boxbot_6dof_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
    ns="/boxbot" args=" joint_state_controller
			left_shoulder_1_joint_controller
			left_shoulder_2_joint_controller
			left_elbow_joint_controller
			left_wrist_1_joint_controller
			left_wrist_2_joint_controller
			left_wrist_3_joint_controller
			left_gripper_joint_controller
			left_gripper_joint_mimic_controller
			right_shoulder_1_joint_controller
			right_shoulder_2_joint_controller
			right_elbow_joint_controller
			right_wrist_1_joint_controller
			right_wrist_2_joint_controller
			right_wrist_3_joint_controller
			right_gripper_joint_controller
			right_gripper_joint_mimic_controller
			neck_pan_joint_controller
			neck_tilt_joint_controller
  "/>

</launch>
