<?xml version="1.0"?>

<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find boxbot_control)/config/boxbot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/boxbot" args=" joint_state_controller
                        left_arm_controller
                        left_gripper_controller
                        right_arm_controller
                        right_gripper_controller
                        left_fake_gripper_controller
                        right_fake_gripper_controller
  "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/boxbot/joint_states" />
  </node>

</launch>
