<?xml version="1.0"?>

<launch>

  <!-- Command-line arguments -->
  <arg name="six_dof" default="true"/>
  <arg name="world_name" default="empty"/>
  <arg name="gazebo_only" default="false"/>
  <arg name="left_driver" default="true"/>
  <arg name="right_driver" default="true"/>
  
  <!-- Launch the 6-DOF Boxbot model in Gazebo -->
  <group if="$(arg six_dof)">
    <include  file="$(find boxbot_gazebo)/launch/boxbot_6dof_gazebo.launch">
      <arg name="world" value="$(arg world_name)"/>
    </include>
    <include file="$(find boxbot_control)/launch/boxbot_6dof_control.launch"/>
  </group>
  
  <!-- Launch the 5-DOF Boxbot model in Gazebo -->
  <group unless="$(arg six_dof)">
    <include file="$(find boxbot_gazebo)/launch/boxbot_5dof_gazebo.launch">
      <arg name="world" value="$(arg world_name)"/>
    </include>
    <include file="$(find boxbot_control)/launch/boxbot_5dof_control.launch"/>
  </group>

  <!-- Launch simulated arbotix interfaces for each arm-->
  <include if="$(arg left_driver)" file="$(find boxbot_driver)/launch/arm_sim_driver.launch">
    <arg name="side" value="left"/>
    <arg name="six_dof" value="$(arg six_dof)"/>
  </include>
  
  <include if="$(arg right_driver)" file="$(find boxbot_driver)/launch/arm_sim_driver.launch">
    <arg name="side" value="right"/>
    <arg name="six_dof" value="$(arg six_dof)"/>
  </include>

  <!-- Handle publishing to non-local nodes (Temporarly non-functional) -->
  <!--include file="$(find boxbot_driver)/launch/driver_rosbridge.launch">
    <arg unless="$(arg six_dof)" name="dof" value="5"/>
    <arg name="left_driver" value="$(arg left_driver)"
    <arg name="right_driver" value="$(arg right_driver)"
  </include-->
  
</launch>
