<?xml version="1.0"?>

<launch>

  <!-- Command-line arguments -->
  <arg name="sim" default="false"/>
  <arg name="headless" default="true"/>
  <arg name="side" default="left"/>
  <arg name="dof" default="6"/>

  <!-- If running on the real robot, launch actual arbotix controllers (TODO: redo this section)-->
  <node unless="$(arg sim)" name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
    <rosparam file="$(find boxbot_bringup)/config/arm_$(arg dof)dof.yaml"/>
    <param name="sim" value="$(arg sim)"/>
  </node>

  <node unless="$(arg sim)" name="gripper_controller" pkg="arbotix_controllers" type="gripper_controller" output="screen">
    <rosparam file="$(find widowx_arm_bringup)/config/widowx_arm_gripper.yaml" command="load" />
  </node>

  <!-- If simulated (i.e. in Gazebo) run the 'fake' arbotix controllers-->
  <node if="$(arg sim)" name="$(arg side)_arm_driver" pkg="boxbot_driver" type="simulation.py" output="screen">
    <rosparam file="$(find boxbot_bringup)/config/default.yaml"/>
    <rosparam file="$(find boxbot_bringup)/config/arm_$(arg dof)dof.yaml"/>
    <rosparam file="$(find boxbot_bringup)/config/connections.yaml"/>
    <param name="side" value="$(arg side)"/>
    <param name="robot" value="boxbot"/>
  </node>
  
</launch>
