<?xml version="1.0"?>

<model>
  <name>Leak Detector</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Matthew Verbryke</name>
    <email>verbrymr@mail.uc.edu</email>
  </author>

  <description>
    A Boxbot-sized ultrasonic leak detector tool.
  </description>
</model>
