<?xml version="1.0"?>
<robot name="block_1" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="link_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0"/>
      <mass value="0.05"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0762 0.1524 0.01905"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0762 0.1524 0.01905"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="link_1">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <material>Gazebo/Wood</material>
    <sensor name="block_contact" type="contact">
      <always_on>true</always_on>
      <update_rate>30</update_rate>
      <contact>
        <collision>link_1_collision</collision>
      </contact>
      <plugin name="block_contact_plugin" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>block_contact_state</bumperTopicName>
        <frameName>link_1</frameName>
      </plugin>
    </sensor>
  </gazebo>
</robot>
