<?xml version="1.0"?>

<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find boxbot_gazebo)/worlds/block.world"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" 
    command="$(find xacro)/xacro --inorder '$(find boxbot_description)/robots/boxbot.urdf.xacro'"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model boxbot -param robot_description
     -J left_joint_1 0.430967
     -J left_joint_2 0.674721
     -J left_joint_3 -0.428684
     -J left_joint_4 1.324760
     -J left_joint_5 0.430967
     -J left_gripper_joint 0.009525
     -J left_gripper_prismatic_joint_2 0.009525
     -J right_joint_1 -0.430967
     -J right_joint_2 0.674721
     -J right_joint_3 -0.428684
     -J right_joint_4 1.324760
     -J right_joint_5 -0.430967
     -J right_gripper_joint 0.009525
     -J right_gripper_prismatic_joint_2 0.009525
     -unpause"/>

  <!-- Add the block model to the parameter server -->
  <param name="block_description" 
    command="$(find xacro)/xacro --inorder '$(find boxbot_gazebo)/models/block_1.urdf.xacro'"/>

  <!-- Spawn the block -->
  <node name="block_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model block_1 -param block_description
     -x 0.24 
     -y 0.0 
     -z 0.15"/>

  <!-- Launch controllers -->
  <include file="$(find boxbot_control)/launch/boxbot_control.launch"/>

  <!-- Launch joint mimic node, turned off due to initial 0.0 command to the gripper joint -->
  <node name="mimic" pkg="boxbot_gazebo" type="mimic.py" output="screen">
    <param name="left_gripper_start" value="0.015" type="double"/>
    <param name="right_gripper_start" value="0.015" type="double"/>
  </node>

</launch>

